@model DementiaProject_Two.Models.Login
@{
    ViewData["Title"] = "Log in";
}

@using (Html.BeginForm("Login", "Account"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
<p>
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
</p>
<p>
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
</p> 

    <button type="submit">Login</button>

    <div class="Link">@Html.ActionLink("Don't have an account? Sign up!", "Register", "Account")</div>
}