@model DementiaProject_Two.Models.UserInfoViewModel
@using DementiaProject_Two.Models.Account
@{
    ViewData["Title"] = "Profile";
}
<section id="one">
    <div class="inner">
        @using (Html.BeginForm("Login", "Account"))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.FirstName, "Fornavn")
                @Html.TextBoxFor(m => m.FirstName)
            </p>
            <p>
                @Html.LabelFor(m => m.LastName, "Efternavn")
                @Html.PasswordFor(m => m.LastName)
            </p>
            <p>
                @Html.LabelFor(m => m.Gender, "Køn")
                @Html.DropDownListFor(m => m.Gender,
                        new SelectList(new List<string>() {"Mand", "Kvinde", "Andet" }))

            </p>
            <p>
                @Html.LabelFor(m => m.ZipCode, "Postnummer")
                @Html.PasswordFor(m => m.ZipCode)
            </p>


            <button type="submit">Updater profil</button>


        }
    </div>
</section>
