@model DementiaProject_Two.Models.UserInfoViewModel
@{
    ViewData["Title"] = "Profile";
}
<section id="one">
    <div class="inner">
        @using (Html.BeginForm("EditProfil", "Profile"))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
        <p>
            @Html.LabelFor(m => m.FirstName, "Fornavn")
            @Html.TextBoxFor(m => m.FirstName, new { @Value = Model.FirstName })
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Efternavn")
            @Html.TextBoxFor(m => m.LastName, new { @Value = Model.LastName })
        </p>
        <p>
            @Html.LabelFor(m => m.Gender, "Køn")
            @Html.DropDownListFor(m => m.Gender,
                 new SelectList(new List<string>() { "Mand", "Kvinde", "Andet" }), new { @Value = Model.Gender })

        </p>
        <p>
            @Html.LabelFor(m => m.ZipCode, "Postnummer")
            @Html.TextBoxFor(m => m.ZipCode, new { @Value = Model.ZipCode })
        </p>


            <button type="submit">Updatér profil</button>


        }
    </div>
</section>
